.App {
  background: url(./assets/fondo-pokemon.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container-table {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

h2,
h3,
h4 {
  font-family: "Bebas Neue", cursive !important;
  letter-spacing: 1.5px !important;
}
p,
h5,
h6 {
  font-family: "Source Serif Pro", sans-serif !important;
}
