.App {
  background-color: brown;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.container-table {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', cursive !important;
  letter-spacing: 1.5px !important;
}
p,
h5,
h6 {
  font-family: 'Source Serif Pro', sans-serif !important;
}
